<table class="table table-striped">
    <thead>
        <tr>
          <th>#</th>
          <th>City</th>
          <th>State</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of maps; let i = index">
            <td>{{i + 1}}</td>
            <td (click) = "onRowClick(record)" class="text-primary text-decoration-underline">{{ record.city }}</td>
            <td (click) = "onRowClick(record)" class="text-primary text-decoration-underline">{{ record.state }}</td>
            <td>
                <button class="btn btn-link" (click)="deleteRecord(i)">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
