.chart-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .slide-in {
    animation: slideIn 0.5s forwards;
  }
  
  /* Slide-out Animation */
  .slide-out {
    animation: slideOut 0.5s forwards;
  }
  
  /* Keyframes for Sliding In */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
